* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 80px;
    background: #000;
    position: relative;
}

div ul {
    margin-left: 70px;
}

div ul .lis {
    list-style: none;
    display: inline;
    margin-right: 60px;
    line-height: 80px;
    position: relative;
}

div ul .lis a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}


/* after me content lagana jarrori hai */

.lis::after {
    content: "";
    height: 6px;
    width: 0px;
    background: #2fdab8;
    position: absolute;
    top: 245%;
    left: -10px;
    transition: 1s;
}

.lis:hover::after {
    width: 130%;
}

.main .bor {
    height: 80px;
    width: 200px;
    background: #2fdab8;
    position: absolute;
    top: 0px;
    left: 1060px;
}

ul .lis .men {
    height: 370px;
    width: 780px;
    background-color: green;
    position: absolute;
    top: 48px;
    left: -173px;
    padding: 35px 0 0 50px;
    display: flex;
}

ul .lis .men .im {
    height: 300px;
    width: 300px;
    background: url(image/top2.jpg);
    box-shadow: 0 0 10px rgb(99, 98, 98);
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

ul .lis .men .im::after {
    content: "";
    height: 300px;
    width: 300px;
    background-color: rgb(87, 86, 86);
    position: absolute;
    top: -300px;
    left: 300px;
    opacity: 0.1;
    transition: 1s;
}

ul .lis .men .im:hover::after {
    top: 0;
    left: 0;
}

ul .lis .men .im::before {
    content: "";
    height: inherit;
    width: inherit;
    background-color: rgb(87, 86, 86);
    position: absolute;
    top: 300px;
    left: -300px;
    opacity: 0.1;
    transition: 1s;
}

ul .lis .men .im:hover::before {
    top: 0px;
    left: 0px;
}

ul .lis .men .text {
    height: 300px;
    width: 50%;
    background-color: blueviolet;
}